table {
    border: solid 2px #000000;
    border-collapse: collapse;
}

caption {
    margin: 4px;
    font-weight: 800;
}

th,
td {
    border: solid 1px #000000;
    padding: 4px 8px;
}

td {
    text-align: left;
}

